/*
== Style: Dota2VN TV;
== Author: Krad;
== Author Url: http://dota.tunglt.com;
== Homepage Url: http://tv.dota2vn.com;
== Version: 1;
*/
/*========== Global ==========*/
.stream-signal[data-signal='offline'] { background: #333; }
.stream-signal[data-signal='online'] { background: #5cb85c; }
.stream-signal[data-signal='unknown'] { background: #f0ad4e; }
.grey { color: #666; }
.green { color: #5cb85c; }
.stream-status { 
	font-size: 10px;
	padding-left: 20px;
}
/*========== Navbar ==========*/
.tv-navbar {
	background: #222;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 50px;
	z-index: 3;
	-webkit-box-shadow: 2px 0 5px 0 rgba(0,0,0,0.2);
	box-shadow: 2px 0 5px 0 rgba(0,0,0,0.2);
}
.tv-brand {
	background: url('https://lh5.googleusercontent.com/Mhk4DoRI9fn98QCtLK9JbM7Jt-backuWPQftbcnZ7BM=s50-no') no-repeat -1px center transparent;
	text-indent: -9999px;
	display: block;
	height: 50px;
	width: 50px;
	margin: 15px 0;
}
.tv-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tv-nav li a {
	height: 50px;
	width: 50px;
	display: block;
	padding: 10px 15px;
	text-align: center;
	font-size: 20px;
	color: #ddd;
	background: transparent;
	cursor: pointer;
}
.tv-nav li a:hover {
	background: #000;
	color: #fff;
}
#tv-help {
	position: absolute;
	bottom: 25px;
}
/*========== Contents ==========*/
.tv-main {
	margin-left: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.stream-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
}
#tv-stream, #tv-chat {
  height: 100%;
}
#tv-stream {
	margin-right: 280px;
}
#tv-chat {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 280px;
}