<div class='modal-header'>
    <h4 class='modal-title text-center'>New Channel</h4>
</div>
<div class='modal-body'>
    <div class='input-group'>
        <input class='form-control' data-shost='tw' id='stream-link' placeholder='Select channel and enter id here...' type='text'/>
        <div class='input-group-btn'>
            <button class='btn btn-success dropdown-toggle' data-toggle='dropdown' id='channel-label' type='button'>Twitch <span class='caret'></span></button>
            <ul class='dropdown-menu pull-right' id='stream-channel'>
                <li data-shost='tw'><a>Twitch</a></li>
                <li data-shost='cc'><a>ccTalk</a></li>
                <li data-shost='dm'><a>Dailymotion</a></li>
                <!--<li data-shost="mlg"><a>MLG</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class='modal-footer'>
    <button class='btn btn-default' ng-click="cancel()" type='button'>Close</button>
    <button class='btn btn-success' ng-click="ok()" type='button'><i class="fa fa-eye"></i> Watch it!</button>
</div>