<form role="form">
<div class="form-group">
	<input type="text" class="form-control" placeholder="Type text here to search..." ng-model="searchText.title">
</div>
</form>
<form class="form-inline" role="form">
<div class="form-group">
	<select class="form-control" ng-model="searchText.host">
	  <option value="">Filter by stream services</option>
	  <option value="tw">Twitch</option>
	  <option value="dm">Dailymotion</option>
	  <option value="hb">Hitbox</option>
	  <option value="cc">ccTalk</option>
	  <option value="yt">Youtube</option>
	</select>
</div>
<div class="form-group">
	<select class="form-control" ng-model="searchText.lang">
	  <option value="">Filter by languages</option>
	  <option value="en">English</option>
	  <option value="ru">Russian</option>
	  <option value="vn">Vietnamese</option>
	  <option value="cn">Chinese</option>
	</select>
</div>
</form>
<table class="table table-striped table-hover">
	<tr class="success">
		<th>Stream Service</th>
		<th>Stream Channel</th>
		<th>Stream Status</th>
		<th>Stream Description</th>
		<th>Stream Language</th>
	</tr>
	<tr ng-repeat="channel in ChannelsData.channels | filter:searchText">
		<td><i class="ss ss-{{channel.host}}"></i></td>
		<td><a ng-href="/#/{{channel.host}}/{{channel.id}}">{{channel.title}}</a></td>
		<td><span class="label" ng-class="{'Online': 'label-success', 'Offline': 'label-default'}[channel.status]">{{channel.status}}</span></td>
		<td><em>{{channel.description}}</em></td>
		<td><i class="flag {{channel.lang | uppercase}}"></i></td>
	</tr>
</table>