<div class="stream-wrapper">
	<div id="tv-stream">
		<iframe src="http://www.twitch.tv/"{{streamId}}"/embed" frameborder="0" scrolling="no" height="100%" width="100%"></iframe><a href="http://www.twitch.tv/"{{streamId}}"?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:100%; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from BeyondTheSummit on www.twitch.tv</a>
	</div>
	<div id="tv-chat">
		<iframe src="http://www.twitch.tv/"{{streamId}}"/chat?popout=" frameborder="0" scrolling="no" height="100%" width="280"></iframe>
	</div>
</div>