<div ng-controller="watchControllers">
	<nav class='tv-navbar' role='navigation'>
		<div class='tv-header'>
			<a class='tv-brand' href='http://tv.dota2vn.com'>KradTV</a>
		</div>
		<!-- Features, links, forms, and other content -->
		<div class='tv-collapse' id='tv-menu'>
			<ul class='tv-nav'>
				<li><a tooltip-placement='right' tooltip='Channels List' ng-click="showViewChannel(lg)"><i class="fa fa-list"></i></a></li>
				<li><a tooltip-placement='right' tooltip='Watch Other Channel' ng-click="showAddChannel()"><i class="fa fa-plus"></i></a></li>
				<li><a tooltip-placement='right' tooltip='Toggle Comment Bar' ng-click="showHideChat()"><i class="fa fa-comments"></i></a></li>
				<li><a tooltip-placement='right' tooltip='Match Schedule'><i class="fa fa-calendar"></i></a></li>
			</ul>
		</div>
		<div class='tv-collapse' id='tv-help'>
			<ul class='tv-nav'>
				<li><a popover='Tổng hợp stream Dota 2' popover-placement='right' title='KradTV 2014'><i class="fa fa-info-circle"></i></a></li>
			</ul>
		</div>
	</nav>
	<div class="tv-main" ng-class="{true: 'chat-enabled', false: 'chat-disabled'}[chatStatus]">
		<div id="tv-stream" ng-bind-html="streamVid"></div>
		<div id="tv-chat" ng-bind-html="streamChat" ng-show="chatStatus"></div>
	</div>
</div>